* {
    border-style: border-box;
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

div.body {
    background-color: black;
    border-radius: 25px;
    width: 450px;
    height: 700px;
    flex-wrap: wrap;
    justify-content: center;
}

.screen {
    width: 60%;
    height: 5%;
    padding: 50px;
    background-color: white;
    border-top: black solid 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

h4 {
    font-size: 1.5rem;
    color: rgba(0,0,0, .75);

}

h2 {
    font-size: 3rem;
}

button {
    border-radius: 50px;
    width: 25%;
    height: 75%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
}

div.firstRow {
    width: 100%;
    padding: 5px 50px;
}

div.secondRow {
    width: 100%;
    padding: 5px 50px;
}

div.thirdRow {
    width: 100%;
    padding: 5px 50px;
}

div.fourthRow {
    width: 100%;
    padding: 5px 50px;
}

div.clear {
    width: 100%;
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}