* {
    border-style: border-box;
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

div .body{
    background-color: black;
    border-radius: 25px;
}
button {
    border-radius: 50px;
    width: 25%;
    background-color: white;
    justify-content: center;
}
