* {
    border-style: border-box;
    font-size: 62.5%;
}

div {
    display: flex;
}

.firstRow {
    width: 50%;
    height: 10%;
}
    
.firstRow button {
    align-items: top;
    justify-content: space-between;
    padding: 50px;
    height: 10%;
    width: 10%;
    border-radius: 50px;
    margin: auto;
}

